.ContactWrapper {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  font-family: "Courier New";
  font-weight: bold;
}

.Contact {
  width: 100%;
  margin: auto;
  color: #474747;
  max-width: 600px;
}

.ContactForm {
  /* border-radius: 15px; */
  display: flex;
  flex-direction: column;
}

.ContactForm h2 {
  font-size: larger;
  margin: 5px 10px auto 10px;
}

.ContactForm input {
  font-size: larger;
  padding: 5px 0px 5px 5px;
  margin: 5px 10px 5px 10px;
}

.ContactForm textarea {
  resize: none;
  padding: 5px;
  font-size: larger;
  text-align: left;
  margin: 0 10px 25px 10px;
  height: 10vh;
}

.ContactForm button {
  font-size: larger;
  padding: 5px 0px 5px 0px;
  margin: auto 10px auto 10px;
}

.Disclaimer {
  text-align: center;
  margin: 5px 10px 5px 10px;
}

.FormNotValid {
  background-color: #ecd7cd;
}

.InvalidFormErrorMessage {
  padding: 2px;
  text-align: center;
  color: red;
}

.FormSuccess {
  border-radius: 5%;
  background-color: rgba(251, 243, 238);
  padding: 25px;
  margin: 56px 15px 0 15px;
}

.FormSuccess p {
  padding: 10px 0 5px 0;
}

@media (max-width: 900px) {
  .Contact {
    max-width: 80vw;
  }
}
